azure-storage-blob>=12.22.0
delta_sharing==1.2.0
duckdb==1.2.0
geopandas>=1.0.1
mercantile==1.2.1
numpy>=2.2.2
pandas>=2.2.3
pycountry==24.6.1
pydantic>=2.10.6
rasterio==1.3.10
Requests==2.32.3
scipy==1.15.1
Shapely>=2.0.7
tqdm==4.65.0
OWSLib==0.32.1
pydantic-settings>=2.7.1
hdx-python-api>=6.3.8
bs4==0.0.2
sqlalchemy-trino==0.5.0
dask>=2024.12.1